body {
  background-color:lightpink;
  color: midnightblue;
  font-family: Century;
}
footer {
  background-color:midnightblue;
  color:lightpink;
  text-align: right;
}
.footerlink {
  color: azure;
}