header {
  background-color:midnightblue;
  color:lightpink;
  font-size: xx-large;
  text-align: center;
}

body {
  background-color:rgb(15, 15, 54);
  color: midnightblue;
}
.in-body{
  padding: 15px;
  background-color: lightpink;
  border: 5px solid #ddd;
  border-color: midnightblue;
}
.container {
  display: flex;
}
.left-div {
  flex: 0.75;
}
.right-div {
  flex: 0.25;
  text-align: right;
}

.widget-text {
  background-color:midnightblue;
  color:lightpink;
  text-align: center;
}

footer {
  background-color:midnightblue;
  color:lightslategray;
  text-align: right;
  padding: 5px;
}
.footerlink {
  color: azure;
}
.text {
  font-family: "Lucida Bright";
}